easy_admin:

    site_name: '<img src="/images/logoEPHECSport.gif" style="width:150px"/>'

    design:
        brand_color: '#ee7102'
        assets:
            favicon: '/images/favicon.png'
            css: ['/admin/customStyle.css']
            js:  ['/admin/customScript.js']

        menu:
            - label: 'Module Activité'
              icon: 'soccer-ball-o'
              children:
                 - 'Activity'
                 - 'Sport'
                 - 'Material'
                 - 'ActivityInvitation'
                 - 'ActivityJoiningRequest'
                 - 'ActivityCancellation'
                 - 'ActivityParticipation'
                 - 'ActivityRelatedFeedback'
                 - 'UserRelatedFeedback'

            - label: 'Module Profil'
              icon: 'user'
              children:
                  - 'User'
                  - 'SportProfile'
                  - 'Success'
                  - 'SchoolClass'
                  - 'SchoolSection'

            - label: 'Module Promotion'
              icon: 'star'
              css_class: 'hehe'
              children:
                  - 'EmeritusSportMan'
                  - 'OfficialTeam'
                  - 'SportClub'
                  - 'Achievement'
                  - 'CrucialMeeting'
                  - 'ShoutOut'

            - label: 'Module Information'
              icon: 'graduation-cap'
              children:
                  - 'ExternalLink'
                  - 'HealthProfessional'

            - label: 'Autre'
              icon: 'ellipsis-h'
              children:
                  - 'Location'

    formats:
        date:     'd/m/Y'
        time:     'H:i'
        datetime: 'd/m/Y - H:i'

#    user:
#        avatar_property_path: '%%profile_picture.uri_prefix%%/ProfilePictureOrFallback'



#        ---------------------------------------------------------------------------------------------------


    entities:
        # List the entity class name you want to manage
        Activity:
            class: App\Entity\Activity\Activity
            form:
                fields:
                    - 'label'
                    - 'sport'
                    - { property: 'cost',type: 'integer', type_options: { attr: { value: 0, min: 0 } }  }
                    - 'startAt'
                    - 'endAt'
                    - { property: 'maxNumberOfPlayer',type: 'integer', type_options: { attr: { value: 10, min: 0 } }  }
                    - 'isJoinableByAnyone'
                    - 'isVisible'
                    - 'isPublished'
                    - 'location'
                    - { property: 'material', type: 'entity', type_options: { class:  'App\Entity\Activity\Material', multiple: true } }
                    - { property: 'pictures', type: 'collection', type_options: { entry_type: 'App\Form\PictureType' } }
            list:
                fields:
                    - 'label'
                    - 'sport'
                    - 'startAt'
                    - 'isPublished'
                    - 'isVisible'
                    - 'createdAt'

        Sport:
            class: App\Entity\Activity\Sport
            form:
                fields:
                    - 'label'
            list:
                fields:
                    - 'label'

        Material:
            class: App\Entity\Activity\Material
            form:
                fields:
                    - 'label'
            list:
                fields:
                    - 'label'

        ActivityInvitation:
            class: App\Entity\Activity\ActivityInvitation
            form:
                fields:
                    - 'activity'
                    - 'recipitent'
                    - 'isAccepted'
                    - 'answeredAt'
            list:
                fields:
                    - 'activity'
                    - 'recipitent'
                    - 'isAccepted'
                    - 'createdAt'
                    - 'answeredAt'

        ActivityJoiningRequest:
            class: App\Entity\Activity\ActivityJoiningRequest
            form:
                fields:
                    - 'activity'
                    - 'recipitent'
                    - 'isAccepted'
            list:
                fields:
                    - 'activity'
                    - 'recipitent'
                    - 'isAccepted'
                    - 'createdAt'

        ActivityCancellation:
            class: App\Entity\Activity\ActivityCancellation
            form:
                fields:
                    - 'activity'
                    - 'cancellingUser'
                    - 'cancellationMotivation'
            list:
                fields:
                    - 'activity'
                    - 'cancellingUser'
                    - 'cancellationMotivation'
                    - 'createdBy'
                    - 'createdAt'

        ActivityParticipation:
            class: App\Entity\Activity\ActivityParticipation
            form:
                fields:
                    - 'activity'
                    - 'user'
                    - { property: isConfirmed, type_options: {required: false} }
                    - 'answeredAt'
            list:
                fields:
                    - 'activity'
                    - 'user'
                    - 'isConfirmed'
                    - 'answeredAt'

        ActivityRelatedFeedback:
            class: App\Entity\Activity\ActivityRelatedFeedback
            form:
                fields:
                    - 'activity'
                    - { property: 'activityRatingOutOfFive',type: 'integer', type_options: { attr: { value: 3, min: 0, max: 5 } }  }
                    - { property: 'label', type: 'App\Form\Activity\ActivityRelatedFeedbackLabelType' }
                    - { property: 'comment', type: 'textarea' }
                    - 'author'
            list:
                fields:
                    - 'activity'
                    - 'activityRatingOutOfFive'
                    - 'label'
                    - 'author'
                    - 'createdBy'

        UserRelatedFeedback:
            class: App\Entity\Activity\UserRelatedFeedback
            form:
                fields:
                    - 'user'
                    - 'activity'
                    - { property: 'label', type: 'App\Form\Activity\UserRelatedFeedBackLabelType' }

            list:
                fields:
                    - 'user'
                    - 'activity'
                    - 'label'
                    - 'createdBy'

#        ---------------------------------------------------------------------------------------------------

        User:
            class: App\Entity\User\User
            controller: App\Controller\Admin\UserAdminController
            disabled_actions: ['new']
            edit:
                fields:
                    - 'username'
                    - { property: 'roles', type: 'App\Form\Profile\RoleType', type_options: { expanded: true, multiple: true }  }
                    - { property: 'plainTextPassword', type: 'text', label: 'Nouveau mot de passe', type_options: { required: false, empty_data: null } }
                    - 'email'
                    - { property: 'birthDate', type: 'datetime' }
                    - { property: 'gender', type: 'App\Form\Profile\GenderType' }
                    - 'phoneNumber'
                    - { property: 'description', type: 'textarea' }
                    - 'canGoAway'
                    - { property: 'activityCostLimit',type: 'integer', type_options: { attr: { value: 0, min: 0 } }  }
                    - 'isInjured'
                    - 'isPersonalProfileVisible'
                    - 'areActivityParticipationVisible'
                    - 'areSuccessUnlockedVisible'
                    - { property: 'disponibilityPatterns', type: 'App\Form\Profile\DisponibilityPatternType', type_options: { expanded: true, multiple: true }  }
                    - { property: 'preferredPartners', type: 'entity', type_options: { class:  'App\Entity\User\User', multiple: true } }
                    - 'schoolClass'
                    - { property: 'pictures', type: 'collection', type_options: { entry_type: 'App\Form\PictureType' } }
                    - { property: 'profilePicture', type: 'App\Form\Profile\ProfilePictureType' }
            list:
                fields:
                    - 'userName'
                    - 'roles'
                    - 'schoolClass'
                    - 'schoolClass.schoolSection'
                    - { property: 'profilePicture.picture', type: 'image', base_path: '%profile_picture.uri_prefix%' }
            show:
                fields:
                    - 'userName'
                    - 'roles'
                    - 'schoolClass'
                    - 'schoolClass.schoolSection'
                    - { property: 'profilePicture.picture', type: 'image', base_path: '%profile_picture.uri_prefix%' }

        SportProfile:
            class: App\Entity\Profile\SportProfile
            form:
                fields:
                    - 'user'
                    - 'sport'
                    - 'role'
                    - { property: 'level', type: 'App\Form\Profile\SportProfileLevelType' }
                    - 'isAimingFun'
                    - 'isAimingPerf'
                    - { property: 'wantedTimesPerWeek',type: 'integer', type_options: { attr: { value: 1, min: 0} }  }
                    - 'wantToBeNotifiedAboutThisSport'
                    - 'isVisible'
            list:
               fields:
                   - 'user'
                   - 'sport'
                   - 'isVisible'

        Success:
            class: App\Entity\Profile\Success
            disabled_actions: ['new', 'edit']
            form:
               fields:
                   - 'user'
                   - 'label'
            list:
               fields:
                   - 'user'
                   - 'label'


        SchoolClass:
            class: App\Entity\Profile\SchoolClass
            form:
                fields:
                    - 'label'
                    - 'schoolSection'
            list:
                fields:
                    - 'label'
                    - 'schoolSection'

        SchoolSection:
            class: App\Entity\Profile\SchoolSection
            form:
                fields:
                    - 'label'
            list:
                fields:
                    - 'label'


#        ---------------------------------------------------------------------------------------------------

        EmeritusSportMan:
            class: App\Entity\Promotion\EmeritusSportMan
            form:
                fields:
                    - 'firstName'
                    - 'lastName'
                    - 'nickName'
                    - { property: 'gender', type: 'App\Form\Profile\GenderType' }
                    - 'role'
                    - 'sport'
                    - 'sportClub'
                    - { property: 'achievements', type: 'entity', type_options: { class:  'App\Entity\Promotion\Achievement', multiple: true , required: false, disabled: true } }
                    - { property: 'pictures', type: 'collection', type_options: { entry_type: 'App\Form\PictureType' } }
            list:
                fields:
                    - 'firstName'
                    - 'lastName'
                    - 'sport'
                    - 'role'

        OfficialTeam:
            class: App\Entity\Promotion\OfficialTeam
            form:
                fields:
                    - 'name'
                    - 'shortName'
                    - 'nickName'
                    - 'label'
                    - 'sport'
                    - { property: 'achievements', type: 'entity', type_options: { class:  'App\Entity\Promotion\Achievement', multiple: true , required: false, disabled: true } }
                    - { property: 'pictures', type: 'collection', type_options: { entry_type: 'App\Form\PictureType' } }
            list:
                fields:
                    - 'name'
                    - 'shortName'
                    - 'sport'

        SportClub:
            class: App\Entity\Activity\SportClub
            form:
                fields:
                    - 'label'
                    - 'sport'
            list:
                fields:
                    - 'label'
                    - 'sport'

        Achievement:
            class: App\Entity\Promotion\Achievement
            form:
                fields:
                    - 'label'
                    - { property: 'comment', type: 'textarea' }
                    - 'acquiredAt'
                    - 'sportMen'
                    - 'teams'

            list:
                fields:
                    - 'label'
                    - 'comment'
                    - 'acquiredAt'
                    - 'sportMen'
                    - 'teams'

        CrucialMeeting:
            class: App\Entity\Promotion\CrucialMeeting
            form:
                fields:
                    - 'label'
                    - 'startAt'
                    - 'endAt'
                    - { property: 'sports', type: 'entity', type_options: { class:  'App\Entity\Activity\Sport', multiple: true } }
                    - { property: 'comment', type: 'textarea' }
                    - 'location'
                    - 'emeritusSportMen'
                    - 'officialTeams'
                    - { property: 'emeritusSportMen', type: 'entity', type_options: { class:  'App\Entity\Promotion\EmeritusSportMan', multiple: true } }
                    - { property: 'officialTeams', type: 'entity', type_options: { class:  'App\Entity\Promotion\OfficialTeam', multiple: true } }

            list:
                fields:
                    - 'label'
                    - 'startAt'

        ShoutOut:
            class: App\Entity\Promotion\ShoutOut
            form:
                fields:
                    - 'author'
                    - { property: 'content', type: 'textarea' }
                    - 'emeritusSportManTarget'
                    - 'officialTeamTarget'
            list:
                fields:
                    - 'author'
                    - 'content'
                    - 'emeritusSportManTarget'
                    - 'officialTeamTarget'
                    - 'createdAt'

#        ---------------------------------------------------------------------------------------------------

        ExternalLink:
            class: App\Entity\Information\ExternalLink
            form:
                fields:
                    - { property: 'url', type: 'url' }
                    - { property: 'label', help: 'entre 4 et 25 caractères', type_options: { attr: { minlength: '4', maxlength: '25' } } }
                    - { property: 'description', type: 'textarea', help: 'entre 8 et 60 caractères', type_options: { attr: { minlength: '8', maxlength: '60' } } }
                    - { property: 'picture', type: 'App\Form\PictureType', help: 'Veuillez fournir une image carrée de minimum 100px de diamètre'  }
            list:
                fields:
                    - 'url'
                    - 'label'
                    - { property: 'picture.image', type: 'image', base_path: '%picture.uri_prefix%' }

        HealthProfessional:
            class: App\Entity\Information\HealthProfessional
            form:
                fields:
                    - 'firstName'
                    - 'lastName'
                    - 'email'
                    - 'phoneNumber'
                    - 'title'
                    - { property: 'presentation', type: 'textarea' }
                    - { property: 'picture', type: 'App\Form\PictureType' }
            list:
                fields:
                    - 'firstName'
                    - 'lastName'
                    - 'title'
                    - { property: 'picture.image', type: 'image', base_path: '%picture.uri_prefix%' }

#        ---------------------------------------------------------------------------------------------------

        Location:
            class: App\Entity\Location
            form:
                fields:
                    - 'label'
                    - 'city'
                    - { property: 'postCode',type: 'integer', type_options: { attr: { min: 0} }  }
                    - 'streetOrPlace'
                    - { property: 'number',type: 'integer', type_options: { attr: { min: 0} }  }
            list:
                fields:
                    - 'label'
                    - 'city'
