html {
    height: 100%;
    margin: 0;
}

body {
    min-height: 100%;
    margin: 0;
    display: flex;
    flex-flow: column;
}

#root {
    display: flex;
    flex-flow: column;
    flex-grow: 1;
}

#appContainer {
    display: flex;
    flex-flow: column;
    height: 100%;
    flex-grow: 1;
    justify-content: space-between;
}

#contentContainer {
    margin: 32px 16px;
}

form {

}

form input {
    width: 100%;
    padding: 12px 20px;
    margin-bottom: 16px;
    display: inline-block;
    border: 0;
    box-sizing: border-box;
    border-bottom: 1px solid #ccc!important;
    cursor: pointer;
}

form input[type="submit"] {
    margin-top: 16px;
}

form input[type="submit"]:hover {
    background-color: #3a4b53;
    color: white;
}

form fieldset {
    background-color: #eeeeee;
    margin-bottom: 15px;
}
