body {
    font-family: Roboto;
}
#root {
    display: flex;
    flex-flow: column;
    flex-grow: 1;
}


.answer-btn {
    width: 80px;
}

.formInputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 50px;

}

input:not([type=checkbox]):not([type="search"]), textarea{
    width: 100%!important;
    border: none;
    border-bottom: 2px solid lightgray;
}

input {
    text-align: right;
    align-self: flex-end;

}
textarea:focus {
    text-align: left;
}
textarea {
    text-align: right;
}

.formInputErrors {
    margin-top: 5px;
    width: 100%;
}

.formInputLabel {
    text-align: left;
    align-self: normal;
    color: grey;
    margin-bottom: 5px;
}

.router-link-active , .router-link-exact-active span{
    color: #ee7102;
}
.router-link-active:hover , .router-link-exact-active:hover span{
    color: #000!important;
}








/*Custom js librairies styling*/

/*datepicker*/
.vdp-datepicker {
    width: 100%;
    text-align: center;
}

.date-picker-input {
    width: 100%!important;
    border: none;
    border-bottom: 2px solid lightgray;
    text-align: right;
    align-self: flex-end;
}


.agile__actions {
}
.agile__nav-button {
    background: transparent;
    border: none;
    color: #ccc;
    cursor: pointer;
    font-size: 24px;
    transition-duration: 0.3s;
}
.agile__nav-button:hover {
    color: #888;
}
.agile__dot {
    margin: 0 10px;
}
.agile__dot button {
    background-color: #eee;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    height: 10px;
    font-size: 0;
    line-height: 0;
    margin: 0;
    padding: 0;
    transition-duration: 0.3s;
    width: 10px;
}
.agile__dot--current button, .agile__dot:hover button {
    background-color: #888;
}


/*Tables customization*/
.vgt-table {
    font-size: small!important;
}
.vgt-table th, .vgt-table td{
    padding: 5px!important;
    text-align: right;
}
@media only screen and (max-width: 600px) {

    .vgt-table th, .vgt-table td{
        text-align: center;
    }

}

