<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Ephec Sport{% endblock %}</title>

        {% block stylesheets %}
            <link rel="icon" href="/images/favicon.png" />
            {{ encore_entry_link_tags('app') }}
        {% endblock %}


    </head>

    <body class="{% block bodyClass %}{% endblock %}">

        {% block body %}
        {% endblock %}

        {% block javascripts %}

            {#<script src="https://kit.fontawesome.com/5dc1e03758.js"></script>#}
            {{ encore_entry_script_tags('app') }}

        {% endblock %}


    </body>
</html>
